/* You can add global styles to this file, and also import other style files */
/* * {
  border: 1px solid red;
} */
@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";
.form-control.ng-touched.ng-invalid {
  border: 2px solid red;
}
.mat-progress-spinner circle,
.mat-spinner circle {
  stroke: #2a79ff !important;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
