<div class="mask-wrapper">
  <div class="first-section">
    <div class="line"></div>
    <img src="../../assets/images/theaterMasks3.png" alt="masks" />
    <div class="line"></div>
  </div>
  <div class="main-photo">
    <img src="../../assets/images/theater1.jpg" alt="theater" />
    <div class="img-text">
      <h2>Приветствуем вас на нашем сайте!</h2>
      <p class="main-text">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reprehenderit
        culpa repellat aspernatur iure, ea error minus quibusdam, facere
        repellendus, dicta porro modi magnam inventore. Suscipit deleniti magni
        dolorum eos nostrum quas excepturi, quaerat expedita velit ipsam
        perferendis tempore reiciendis dolore!
      </p>
      <p class="footer">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae,
        nesciunt.
      </p>
    </div>
  </div>
</div>
