<h2 class="text-center mb-5" *ngIf="isAdding">Добавление театра</h2>
<h2 class="text-center mb-5" *ngIf="!isAdding">Изменение театра</h2>
<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="form-wrapper col-lg-6 col-md-8 col-sm-12">
      <form action="post" [formGroup]="form" (ngSubmit)="onSubmitClick()">
        <div class="form-group">
          <label for="name">Название театра</label>
          <input
            type="text"
            class="form-control"
            formControlName="name"
            name="name"
            id="name"
            placeholder="Введите название театра"
          />
          <div class="alert alert-danger" *ngIf="name.touched && name.invalid">
            Имя театра обязательно
          </div>
        </div>
        <div class="form-group">
          <label for="theaterType">Тип театра</label>
          <select
            class="form-control"
            formControlName="theaterType"
            name="theaterType"
            id="theaterType"
          >
            <option *ngFor="let r of range" value="{{ r }}">
              {{ getType(r) }}
            </option>
            <div
              class="alert alert-danger"
              *ngIf="theaterType.touched && theaterType.invalid"
            >
              Тип театра обязателен
            </div>
          </select>
        </div>
        <div class="form-group">
          <label for="streetName">Название улицы</label>
          <input
            type="text"
            class="form-control"
            formControlName="streetName"
            name="streetName"
            id="streetName"
            placeholder="Введите название улицы"
          />
          <div
            class="alert alert-danger"
            *ngIf="streetName.touched && streetName.invalid"
          >
            <div *ngIf="streetName.errors.required">
              Название улицы обязательно
            </div>
            <div *ngIf="streetName.errors.minlength">
              В названии улицы должно быть хотя бы
              {{ streetName.errors.minlength.requiredLength }} символа.
            </div>
            <div *ngIf="streetName.errors.pattern">
              Невалидно название улицы
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="houseNumber">Номер улицы</label>
          <input
            type="text"
            class="form-control"
            formControlName="houseNumber"
            name="houseNumber"
            id="houseNumber"
            placeholder="Введите номер улицы"
          />
          <div
            class="alert alert-danger"
            *ngIf="houseNumber.touched && houseNumber.invalid"
          >
            <div *ngIf="houseNumber.errors.required">
              Номер улицы обязателен
            </div>
            <div *ngIf="houseNumber.errors.pattern">
              В номере улицы не должно быть букв, и номер не может начинаться с
              0
            </div>
          </div>
        </div>
        <button
          type="submit"
          class="btn btn-success"
          *ngIf="isAdding"
          [disabled]="form.invalid"
        >
          Добавить
        </button>
        <button
          type="submit"
          class="btn btn-success"
          *ngIf="!isAdding"
          [disabled]="form.invalid"
        >
          Изменить
        </button>
      </form>
    </div>
  </div>
</div>
